@import "directories/utils/variables";
@import "directories/utils/mixin";
@import "directories/base/base";

body {
    background-color: $color-page;
    margin: 0px;
}

.page {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: $color-primary;
}

header h1 {
    text-align: center;
    font-size: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.contenu {
    @include contenu-size;
    .contenu__bloc {
        @include contenu-bloc-size;
        .contenu__bloc__btn {
            @include contenu-bloc-btn-size;
            a {
                text-decoration: none;
                width: 100%;
                padding-top: 170px;
                transform: scale(1);
                transition: transform 200ms;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.contenu__bloc__btn {
    &--red {
        background-color: $red;
    }
    &--peach {
        background-color: $peach;
    }
    &--orange {
        background-color: $orange;
    }
    &--beige {
        background-color: $beige;
    }
}

.nom__menu {
    font-size: 28px;
    font-style: italic;
    color: sandybrown;
}

.btn {
    margin: 0px 30px;
    font-size: 25px;
    .btn__style {
        @include btn-style;
    }
}

.shake {
    &:hover {
        animation: shake 0.5s infinite;
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }

.soon {
    text-align: center;
    margin: 60px;
    margin-top: 0px;
    padding: 100px;
    .btn__style--soon {
        font-size: 40px;
        border-radius: 20px;
        padding: 40px 60px;
        &:hover {
            &::after {
            animation: soon steps(1, end) 2s infinite;
            content: '';
            }
        }
    }
}

@keyframes soon {
    0%   { content: '';}
    20%  { content: '.'; opacity: 0.2; }
    40%  { content: '..'; opacity: 0.5;}
    60%  { content: '...'; opacity: 0.7;}
    80%  { content: '....'; opacity: 1;}  
    100% { content: '';}
}

/*Partie contenu page menu*/
.contenu__menu {
    @include contenu-page-menu-size;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 100px;
}

h4 {
    font-size: 20px;
    text-align: center;
}

table, tr, td {
    @include tableau;
}

caption {
    font-size: 20px;
}