@import "directories/utils/variables";
@import "directories/utils/mixin";
@import "directories/base/base";

body {
    margin: 0px;
    width: auto;
}

.page {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: $color-primary;
}

header h1 {
    text-align: center;
    font-size: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.contenu {
    @include contenu-size;
    .contenu__bloc {
        @include contenu-bloc-size;
        .contenu__bloc__btn {
            @include contenu-bloc-btn-size;
            a {
                @include link;
                &:hover {
                    @include link-scale-progres;
                }
            }
        }
    }
}

.contenu__bloc__btn {
    &--a {
        background-color: $color-a;
        &:hover {
            @include contenu-opacity;
        }
    }
    &--b {
        background-color: $color-b;
        &:hover {
            @include contenu-opacity;
        }
    }
    &--c {
        background-color: $color-c;
        &:hover {
            @include contenu-opacity;
        }
    }
    &--d {
        background-color: $color-d;
        &:hover {
            @include contenu-opacity;
        }
    }
}

.nom__restaurant__ac {
    &--a {
        font-family: 'Itim', cursive;
        color: $menu-a;
    }
    &--b {
        color: $menu-b;
    }
    &--c {
        font-family: 'Caveat', cursive;
        color: $menu-c;
    }
    &--d {
        font-family: 'Caveat', cursive;
        color: $menu-d;
    }
}

.nom__menu {
    font-size: 35px;
    &--a {
        font-family: 'Devonshire', cursive;
    }
    &--b {
        font-family: 'Libre Caslon Display', serif;
        background: linear-gradient(to right, #d49557 0%, #966ebb 50%, #3608a0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--c {
        font-family: 'Dancing Script', cursive;
        background: linear-gradient(to right, $menu-c 0%, #4385f0 50%, #a7c4f7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--d {
        font-family: 'Kaushan Script', cursive;
        background: linear-gradient(to right, $menu-d 0%, #7fd85f 50%, #bef0ac 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    @include screen-size(tablet) {
        font-size: 24px;
    }
    @include screen-size(tablet-s) {
        font-size: 20px;
    }
    @include screen-size(mobile-l) {
        font-size: 15px;
    }
}

.btn {
    margin: 0px 30px;
    font-size: 25px;
    @include screen-size(mobile) {
        margin: 0px 10px;
        font-size: 15px;
    }
    .btn__style {
        @include btn-style;
    }
}

.shake {
    &:hover {
        animation: shake 0.5s infinite;
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-9deg); }
    20% { transform: rotate(9deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(9deg); }
    50% { transform: rotate(-9deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-9deg); }
    80% { transform: rotate(9deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-9deg); }
  }

.soon {
    text-align: center;
    margin: 60px;
    margin-top: 0px;
    padding: 100px;
    @include screen-size(tablet) {
        margin-bottom: 30px;
    }
    @include screen-size(tablet-s) {
        margin: 20px 0px;
        padding: 50px 50px 70px 50px;
    }
    @include screen-size(mobile) {
        padding: 30px 20px 50px 20px;
    }
    .btn__style--soon {
        font-size: 40px;
        border-radius: 20px;
        padding: 40px 60px;
        @include screen-size(tablet) {
            font-size: 30px;
            padding: 25px 45px;
        }
        @include screen-size(tablet-s) {
            font-size: 25px;
            padding: 10px 10px;
        }
        @include screen-size(mobile) {
            font-size: 15px;
        }
        span {
            @include dot-soon;
            &:nth-child(2) {
                animation-delay: .2s;
            }
            &:nth-child(3) {
                animation-delay: .4s;
            }
        }    
    }
}

/*Partie contenu page menu*/

.nom__restaurant {
    @include nom-restaurant;
}

.contenu__menu {
    @include contenu-page-menu-size;
    &--a {
        background-color: $color-a;
    }
    &--b {
        background-color: $color-b;
    }
    &--c {
        background-color: $color-c;
    }
    &--d {
        background-color: $color-d;
    }
}

h2 {
    font-size: 50px;
    @include screen-size(tablet-s) {
        font-size: 30px;
    }
    @include screen-size(mobile-l) {
        font-size: 20px;
    }
}

.note {
    text-align: center;
    font-size: 100px;
    background: linear-gradient(to right, red 0%, orange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include screen-size(tablet) {
        font-size: 50px;
    }
    @include screen-size(mobile-l) {
        font-size: 40px;
    }
}

h3 {
    @include titre-h-3;
}

table, tr, td {
    @include tableau;
}
td {
    width: auto;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}
h4 {
    font-size: 32px;
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    margin-bottom: 12px;
    @include screen-size(tablet) {
        font-size: 25px;
    }
}
.underline {
    position: relative;
}
.underline::after {
    @include underline;
}
.underline:hover::after {
    visibility: visible;
    width: 100%;
}

.menu__trait--a {
    .underline::after {
        background-color: $menu-a;
    }
}

.menu__trait--b {
    &:nth-of-type(1) {
        .underline::after {
            background-color: #d49557;
        }
    }
    &:nth-of-type(2) {
        .underline::after {
            background-color: #966ebb;
        }
    }
    &:nth-of-type(3) {
        .underline::after {
            background-color: #3608a0;
        }
    }
}

.menu__trait--c {
    &:nth-of-type(1) {
        .underline::after {
            background-color: $menu-c;
        }
    }
    &:nth-of-type(2) {
        .underline::after {
            background-color: lighten($color: $menu-c, $amount: 10);
        }
    }
    &:nth-of-type(3) {
        .underline::after {
            background-color: lighten($color: $menu-c, $amount: 20);
        }
    }
  }

  .menu__trait--d {
      .underline::after {
          background-color: $menu-d;
      }
  }

.price-size {
    font-weight: 900;
}

/*Petite note de la page menu a*/
.note-small {
    display: flex;
    justify-content: center;
    align-items: center;
    .note-s-size {
        font-size: 20px;
        margin: 10px;
    }
}
h5 {
    font-family: 'Devonshire', cursive;
    font-size: 30px;
    text-align: center;
}

/*couleur pour le menu 2*/
.menu {
    &__entre--b {
        color: #d49557;
    }
    &__plat--b {
        color: #966ebb;
    }
    &__dessert {
        color: #3608a0;
    }
}
.font--b h4 {
    font-family: 'Libre Caslon Display', serif;
}
.font--b tr td {
    font-family: 'Libre Caslon Display', serif;
}

img {
    @include trait-section-menu;
}

/*Partie mentions*/
.mention__titre {
    text-align: center;
    font-size: 40px;
}

.mention__legale {
    @include mentions-l;
}