@import "directories/utils/variables";
@import "directories/utils/mixin";
@import "directories/base/base";

body {
    margin: 0px;
}

.page {
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: $color-primary;
}

header h1 {
    text-align: center;
    font-size: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.contenu {
    @include contenu-size;
    .contenu__bloc {
        @include contenu-bloc-size;
        .contenu__bloc__btn {
            @include contenu-bloc-btn-size;
            a {
                @include link;
                &:hover {
                    @include link-scale-progres;
                }
            }
        }
    }
}

.contenu__bloc__btn {
    &--a {
        background-color: $color-a;
        &:hover {
            @include contenu-opacity;
        }
    }
    &--b {
        background-color: $color-b;
        &:hover {
            @include contenu-opacity;
        }
    }
    &--c {
        background-color: $color-c;
        &:hover {
            @include contenu-opacity;
        }
    }
    &--d {
        background-color: $color-d;
        &:hover {
            @include contenu-opacity;
        }
    }
}

.nom__restaurant__ac {
    &--a {
        color: $menu-a;
    }
    &--b {
        color: $menu-b;
    }
    &--c {
        color: $menu-c;
    }
    &--d {
        color: $menu-d;
    }
}

.nom__menu {
    font-size: 28px;
    font-style: italic;
    &--b {
        background: linear-gradient(to right, #d49557 0%, #966ebb 50%, #3608a0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--c {
        background: linear-gradient(to right, $menu-c 0%, #4385f0 50%, #a7c4f7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &--d {
        background: linear-gradient(to right, $menu-d 0%, #7fd85f 50%, #bef0ac 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.btn {
    margin: 0px 30px;
    font-size: 25px;
    .btn__style {
        @include btn-style;
    }
}

.shake {
    &:hover {
        animation: shake 0.5s infinite;
    }
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }

.soon {
    text-align: center;
    margin: 60px;
    margin-top: 0px;
    padding: 100px;
    .btn__style--soon {
        font-size: 40px;
        border-radius: 20px;
        padding: 40px 60px;
        span {
            @include dot-soon;
            &:nth-child(2) {
                animation-delay: .2s;
            }
            &:nth-child(3) {
                animation-delay: .4s;
            }
        }    
    }
}

/*Partie contenu page menu*/

.nom__restaurant {
    @include nom-restaurant;
}

.contenu__menu {
    @include contenu-page-menu-size;
    &--a {
        background-color: $color-a;
    }
    &--b {
        background-color: $color-b;
    }
    &--c {
        background-color: $color-c;
    }
    &--d {
        background-color: $color-d;
    }
}

h2 {
    font-size: 40px;
    text-align: center;
}

.note {
    font-size: 80px;
    text-align: center;
    font-size: 100px;
    background: linear-gradient(to right, red 0%, orange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

h4 {
    font-size: 20px;
    text-align: center;
}

table, tr, td {
    @include tableau;
}
/*tr {
    display: flex;
    flex-direction: column;
}*/
td {
    width: auto;
}

caption {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 12px;
}

/*caption:before, caption:after { 
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 8rem; 
    height: 1px; 
    background: #000 
}
caption:before { margin-right: .3rem }
caption:after { margin-left: .3rem }*/

/*couleur pour le menu 2*/
.menu {
    &__entre--b {
        color: #d49557;
    }
    &__plat--b {
        color: #966ebb;
    }
    &__dessert {
        color: #3608a0;
    }
}