/*Couleur du site*/
/*Partie contenu page menu*/
@font-face {
  font-family: 'cantarellregular';
  src: url("fonts/Cantarell-Regular-webfont.eot");
  src: url("fonts/Cantarell-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Cantarell-Regular-webfont.woff2") format("woff2"), url("fonts/Cantarell-Regular-webfont.woff") format("woff"), url("fonts/Cantarell-Regular-webfont.ttf") format("truetype"), url("fonts/Cantarell-Regular-webfont.svg#cantarellregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0px; }

.page {
  display: flex;
  flex-direction: column; }

header, footer {
  background-color: #559c84; }

header h1 {
  text-align: center;
  font-size: 50px; }

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%; }

.contenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0px; }
  .contenu .contenu__bloc {
    width: 400px;
    margin: 40px;
    height: 600px;
    border: 1px solid black;
    border-radius: 1%; }
    .contenu .contenu__bloc .contenu__bloc__btn {
      display: flex;
      width: 400px;
      height: 600px;
      /*&:hover {
          opacity: 0.5;
      }*/ }
      .contenu .contenu__bloc .contenu__bloc__btn a {
        text-decoration: none;
        width: 100%;
        padding: 150px 20px;
        text-align: center;
        transform: scale(1);
        transition: transform 200ms; }
        .contenu .contenu__bloc .contenu__bloc__btn a:hover {
          transform: scale(1.2); }

.contenu__bloc__btn--a {
  background-color: #fbdcdb; }
.contenu__bloc__btn--b {
  background-color: #fbf3fb; }
.contenu__bloc__btn--c {
  background-color: #f3f1f1; }
.contenu__bloc__btn--d {
  background-color: #fbfbfb; }

.nom__restaurant__ac--a {
  color: #58272e; }
.nom__restaurant__ac--b {
  color: #c87a21; }
.nom__restaurant__ac--c {
  color: #0a63f3; }
.nom__restaurant__ac--d {
  color: #5ba83f; }

.nom__menu {
  font-size: 28px;
  font-style: italic; }
  .nom__menu--b {
    background: linear-gradient(to right, #d49557 0%, #966ebb 50%, #3608a0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .nom__menu--c {
    background: linear-gradient(to right, #0a63f3 0%, #4385f0 50%, #a7c4f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .nom__menu--d {
    background: linear-gradient(to right, #5ba83f 0%, #7fd85f 50%, #bef0ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.btn {
  margin: 0px 30px;
  font-size: 25px; }
  .btn .btn__style {
    color: #d8bc2d;
    text-decoration: none;
    background-color: #559c84; }

.shake:hover {
  animation: shake 0.5s infinite; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-1deg); }
  20% {
    transform: rotate(1deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(1deg); }
  50% {
    transform: rotate(-1deg); }
  60% {
    transform: rotate(0deg); }
  70% {
    transform: rotate(-1deg); }
  80% {
    transform: rotate(1deg); }
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-1deg); } }
.soon {
  text-align: center;
  margin: 60px;
  margin-top: 0px;
  padding: 100px; }
  .soon .btn__style--soon {
    font-size: 40px;
    border-radius: 20px;
    padding: 40px 60px; }
    .soon .btn__style--soon:hover::after {
      animation: soon steps(1, end) 2s infinite;
      content: ''; }

@keyframes soon {
  0% {
    content: ''; }
  20% {
    content: '.';
    opacity: 0.2; }
  40% {
    content: '..';
    opacity: 0.5; }
  60% {
    content: '...';
    opacity: 0.7; }
  80% {
    content: '....';
    opacity: 1; }
  100% {
    content: ''; } }
/*Partie contenu page menu*/
.nom__restaurant {
  text-align: center;
  margin-top: 50px; }

.contenu__menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 100px 100px;
  border: 1px solid black;
  border-radius: 1%; }
  .contenu__menu--a {
    background-color: #fbdcdb; }
  .contenu__menu--b {
    background-color: #fbf3fb; }
  .contenu__menu--c {
    background-color: #f3f1f1; }
  .contenu__menu--d {
    background-color: #fbfbfb; }

h2 {
  font-size: 40px;
  text-align: center; }

.note {
  font-size: 80px;
  text-align: center;
  font-size: 100px;
  background: linear-gradient(to right, red 0%, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px; }

h4 {
  font-size: 20px;
  text-align: center; }

table, tr, td {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 40px; }

/*tr {
    display: flex;
    flex-direction: column;
}*/
td {
  width: auto; }

caption {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 12px; }

/*caption:before, caption:after { 
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 8rem; 
    height: 1px; 
    background: #000 
}
caption:before { margin-right: .3rem }
caption:after { margin-left: .3rem }*/
/*couleur pour le menu 2*/
.menu__entre--b {
  color: #d49557; }
.menu__plat--b {
  color: #966ebb; }
.menu__dessert {
  color: #3608a0; }

/*# sourceMappingURL=style.css.map */
