/*Couleur du site*/
/*Maps avec une liste pour les media queries*/
/*Partie contenu page menu*/
@font-face {
  font-family: 'cantarellregular';
  src: url("fonts/Cantarell-Regular-webfont.eot");
  src: url("fonts/Cantarell-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Cantarell-Regular-webfont.woff2") format("woff2"), url("fonts/Cantarell-Regular-webfont.woff") format("woff"), url("fonts/Cantarell-Regular-webfont.ttf") format("truetype"), url("fonts/Cantarell-Regular-webfont.svg#cantarellregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0px; }

.page {
  display: flex;
  flex-direction: column; }

header, footer {
  background-color: #559c84; }

header h1 {
  text-align: center;
  font-size: 50px; }

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  width: 100%; }

.contenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 50px;
  margin-top: 50px;
  margin-bottom: 0px; }
  @media (max-width: 1169px) {
    .contenu {
      margin: 15px 0px;
      margin-top: 50px; } }
  @media (max-width: 559px) {
    .contenu {
      margin: auto; } }
  .contenu .contenu__bloc {
    width: 400px;
    margin: 40px;
    height: 600px;
    box-shadow: 1px 1px 10px #c0bbbb; }
    @media (max-width: 1169px) {
      .contenu .contenu__bloc {
        margin: 20px; } }
    @media (max-width: 959px) {
      .contenu .contenu__bloc {
        width: 300px;
        height: 520px; } }
    @media (max-width: 699px) {
      .contenu .contenu__bloc {
        margin: 15px;
        width: 260px;
        height: 450px; } }
    @media (max-width: 559px) {
      .contenu .contenu__bloc {
        width: 200px;
        height: 300px; } }
    .contenu .contenu__bloc .contenu__bloc__btn {
      display: flex;
      width: 400px;
      height: 600px; }
      @media (max-width: 959px) {
        .contenu .contenu__bloc .contenu__bloc__btn {
          width: 300px;
          height: 520px; } }
      @media (max-width: 699px) {
        .contenu .contenu__bloc .contenu__bloc__btn {
          width: 260px;
          height: 450px; } }
      @media (max-width: 559px) {
        .contenu .contenu__bloc .contenu__bloc__btn {
          width: 200px;
          height: 300px; } }
      .contenu .contenu__bloc .contenu__bloc__btn a {
        text-decoration: none;
        width: 100%;
        padding: 150px 20px;
        text-align: center; }
        @media (max-width: 959px) {
          .contenu .contenu__bloc .contenu__bloc__btn a {
            padding: 120px 20px; } }
        @media (max-width: 559px) {
          .contenu .contenu__bloc .contenu__bloc__btn a {
            padding: 70px 20px; } }
        .contenu .contenu__bloc .contenu__bloc__btn a:hover {
          /*Dans cette mixin il y a le kframes du scale des nom des testaurants ainsi que son animation*/
          animation: link-scale-progres 300ms 150ms forwards; }
@keyframes link-scale-progres {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.4); } }
.contenu__bloc__btn--a {
  background-color: #fbdcdb; }
  .contenu__bloc__btn--a:hover {
    /*Dans cette mixin il y a un kframes pour l'effet de fondu des menus/restaurants et l'animation du kframes*/
    animation: fade 300ms 150ms forwards; }
@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }
.contenu__bloc__btn--b {
  background-color: #fbf3fb; }
  .contenu__bloc__btn--b:hover {
    /*Dans cette mixin il y a un kframes pour l'effet de fondu des menus/restaurants et l'animation du kframes*/
    animation: fade 300ms 150ms forwards; }
@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }
.contenu__bloc__btn--c {
  background-color: #f3f1f1; }
  .contenu__bloc__btn--c:hover {
    /*Dans cette mixin il y a un kframes pour l'effet de fondu des menus/restaurants et l'animation du kframes*/
    animation: fade 300ms 150ms forwards; }
@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }
.contenu__bloc__btn--d {
  background-color: #fbfbfb; }
  .contenu__bloc__btn--d:hover {
    /*Dans cette mixin il y a un kframes pour l'effet de fondu des menus/restaurants et l'animation du kframes*/
    animation: fade 300ms 150ms forwards; }
@keyframes fade {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }
.nom__restaurant__ac--a {
  color: #58272e; }
.nom__restaurant__ac--b {
  color: #c87a21; }
.nom__restaurant__ac--c {
  color: #0a63f3; }
.nom__restaurant__ac--d {
  color: #5ba83f; }

.nom__menu {
  font-size: 28px;
  font-style: italic; }
  .nom__menu--b {
    background: linear-gradient(to right, #d49557 0%, #966ebb 50%, #3608a0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .nom__menu--c {
    background: linear-gradient(to right, #0a63f3 0%, #4385f0 50%, #a7c4f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .nom__menu--d {
    background: linear-gradient(to right, #5ba83f 0%, #7fd85f 50%, #bef0ac 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  @media (max-width: 959px) {
    .nom__menu {
      font-size: 24px; } }
  @media (max-width: 699px) {
    .nom__menu {
      font-size: 20px; } }
  @media (max-width: 559px) {
    .nom__menu {
      font-size: 15px; } }

.btn {
  margin: 0px 30px;
  font-size: 25px; }
  .btn .btn__style {
    color: #d8bc2d;
    text-decoration: none;
    background-color: #559c84; }

.shake:hover {
  animation: shake 0.5s infinite; }

@keyframes shake {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(-1deg); }
  20% {
    transform: rotate(1deg); }
  30% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(1deg); }
  50% {
    transform: rotate(-1deg); }
  60% {
    transform: rotate(0deg); }
  70% {
    transform: rotate(-1deg); }
  80% {
    transform: rotate(1deg); }
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-1deg); } }
.soon {
  text-align: center;
  margin: 60px;
  margin-top: 0px;
  padding: 100px; }
  @media (max-width: 959px) {
    .soon {
      margin-bottom: 30px; } }
  @media (max-width: 699px) {
    .soon {
      margin: 20px 0px;
      padding-top: 50px; } }
  .soon .btn__style--soon {
    font-size: 40px;
    border-radius: 20px;
    padding: 40px 60px; }
    @media (max-width: 959px) {
      .soon .btn__style--soon {
        font-size: 30px;
        padding: 25px 45px; } }
    @media (max-width: 699px) {
      .soon .btn__style--soon {
        font-size: 25px;
        padding: 20px 20px; } }
    .soon .btn__style--soon span {
      /*Dans cette mixin il y a le kframes pour les points loarding du bouton 'prochainement/soon'*/
      animation: dot 1.4s infinite both; }
@keyframes dot {
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }
      .soon .btn__style--soon span:nth-child(2) {
        animation-delay: .2s; }
      .soon .btn__style--soon span:nth-child(3) {
        animation-delay: .4s; }

/*Partie contenu page menu*/
.nom__restaurant {
  text-align: center;
  margin-top: 50px; }

.contenu__menu {
  display: flex;
  flex-direction: column;
  margin: 0px 350px 150px 350px;
  padding: 100px 100px;
  border: 1px solid black;
  border-radius: 1%; }
  @media (max-width: 1169px) {
    .contenu__menu {
      margin: 0px 150px 150px 150px;
      padding: 80px 60px; } }
  .contenu__menu--a {
    background-color: #fbdcdb; }
  .contenu__menu--b {
    background-color: #fbf3fb; }
  .contenu__menu--c {
    background-color: #f3f1f1; }
  .contenu__menu--d {
    background-color: #fbfbfb; }

h2 {
  font-size: 40px;
  text-align: center; }
  @media (max-width: 699px) {
    h2 {
      font-size: 30px; } }
  @media (max-width: 559px) {
    h2 {
      font-size: 20px; } }

.note {
  text-align: center;
  font-size: 100px;
  background: linear-gradient(to right, red 0%, orange 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media (max-width: 959px) {
    .note {
      font-size: 50px; } }
  @media (max-width: 559px) {
    .note {
      font-size: 40px; } }

h3 {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px; }

h5 {
  font-size: 20px;
  text-align: center; }

table, tr, td {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 40px; }

td {
  width: auto; }

.section {
  display: flex;
  justify-content: space-around; }

h4 {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 12px; }

.underline {
  position: relative; }

.underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: blue;
  visibility: hidden;
  transition: all 0.3s ease-in-out; }

.underline:hover::after {
  visibility: visible;
  width: 100%; }

/*couleur pour le menu 2*/
.menu__entre--b {
  color: #d49557; }
.menu__plat--b {
  color: #966ebb; }
.menu__dessert {
  color: #3608a0; }

/*# sourceMappingURL=style.css.map */
