@mixin screen-size($breakpoint) {
   @if map-has-key($map: $breakpoints, $key: $breakpoint) {
       @media (max-width: map-get($breakpoints, $breakpoint)){
           @content;
       }
   }
}

@mixin contenu-size {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    @include screen-size(computer-s) {
        margin: 15px 0px;
        margin-top: 50px;
    }
    @include screen-size(mobile-l) {
        margin: auto;
    }   
}

@mixin contenu-bloc-size {
    width: $cont-width;
    margin: 40px;
    height: $cont-height;
    box-shadow: 1px 1px 10px rgb(192, 187, 187);
    @include screen-size(computer-s) {
        margin: 20px;
    }
    @include screen-size(tablet) {
        width: 300px;
        height: 520px;
    }
    @include screen-size(tablet-s) {
        margin: 15px;
        width: 260px;
        height: 450px
    } 
    @include screen-size(mobile-l) {
        width: 200px;
        height: 300px;
    }   
}

@mixin contenu-opacity { /*Dans cette mixin il y a un kframes pour l'effet de fondu des menus/restaurants et l'animation du kframes*/
    @keyframes fade {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0.6;
        }
    }
    animation: fade 300ms 150ms forwards;
}

@mixin contenu-bloc-btn-size {
    display: flex;
    width: $cont-width;
    height: $cont-height;
    @include screen-size(tablet) {
        width: 300px;
        height: 520px;
    }
    @include screen-size(tablet-s) {
        width: 260px;
        height: 450px;
    }
    @include screen-size(mobile-l) {
        width: 200px;
        height: 300px;
    }
}

@mixin btn-style {
    color: $color-secondary;
    text-decoration: none;
    background-color: $color-primary;
}

@mixin link {
    text-decoration: none;
    width: 100%;
    padding: 150px 20px;
    text-align: center;
    @include screen-size(tablet) {
        padding: 120px 20px;
    }
    @include screen-size(mobile-l) {
        padding: 70px 20px;
    }
}

@mixin link-scale-progres { /*Dans cette mixin il y a le kframes du scale des nom des testaurants ainsi que son animation*/
    @keyframes link-scale-progres {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.4);
        }
    }
    animation: link-scale-progres 300ms 150ms forwards;
}

@mixin dot-soon { /*Dans cette mixin il y a le kframes pour les points loarding du bouton 'prochainement/soon'*/
    @keyframes dot {
        0% {
          opacity: .2;
        }
        20% {
          opacity: 1;
        }
        100% {
          opacity: .2;
        }
    }
    animation: dot 1.4s infinite both;
}

/*Partie contenu page menu*/

@mixin nom-restaurant {
    text-align: center;
    margin-top: 50px;
}

@mixin contenu-page-menu-size {
    display: flex;
    flex-direction: column;
    margin: 0px 250px 150px 250px;
    padding: 100px 100px;
    border: 1px solid black;
    border-radius: 1%;
    @include screen-size(computer-s) {
        margin: 0px 150px 150px 150px;
        padding: 80px 60px;
    }
}

@mixin tableau {
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 40px;
}

@mixin underline {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: blue;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

@mixin trait-section-menu {
    width: 30%;
    height: 50%;
}