@mixin contenu-size {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px;
    margin-top: 50px;
    margin-bottom: 0px;
}

@mixin contenu-bloc-size {
    width: $cont-width;
    margin: 40px;
    height: $cont-height;
    border: 1px solid black;
}

@mixin contenu-bloc-btn-size {
    display: flex;
    width: $cont-width;
    height: $cont-height;
}

@mixin btn-style {
    color: $color-secondary;
    text-decoration: none;
    background-color: $color-primary;
}

@mixin titre-menu {
    color: rgb(55, 104, 7);
    font-size: 40px;
    text-align: center;
}

/*Partie contenu page menu*/
@mixin contenu-page-menu-size {
    display: flex;
    flex-direction: column;
    margin: 150px;
    margin-top: 50px;
    padding: 100px 40px;
    border: 1px solid black;
}

@mixin tableau {
    width: 100%;
    padding: 10px 0px;
}