/*Couleur du site*/
$color-primary:#559c84 ;
$color-secondary: #d8bc2d;

$color-a: #fbdcdb;
$color-b: #fbf3fb;
$color-c: #f3f1f1;
$color-d: #fbfbfb;

$menu-a: #58272e;
$menu-b: #c87a21;
$menu-c: #0a63f3;
$menu-d: #5ba83f;

$cont-height: 600px;
$cont-width: 400px;
